* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", serif;
}
.navbar-card {
    position: fixed;
    top: 0;
    left: -60%;
    background-color: black;
    height: 100vh;
    width: 60%;
    z-index: 3;
    color: white;
    transition: 1s;
    padding: 30px;
}
.navbar-card h1 {
    text-align: end;
    cursor: pointer;
}
.navbar-card h2 {
    cursor: pointer;
    padding-top: 13px;
    padding-bottom: 13px;
}
.navbar-card hr {
    border-width: 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.navbar-menu {
    display: none;
}
.navbar-s1 img{
    width: 150px;
}
.navbar-s2 {
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar-s3 {
    display: flex;
    align-items: center;
    gap: 25px;
}
.navbar-s3 button {
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}
.navbar-s3 p {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.navbar-s2 p {
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.navbar-s3 button:hover {
    opacity: 0.8;
}
.navbar-s2 p:hover {
    background-color: rgb(242, 242, 242);
}
.navbar-s3 p:hover {
    background-color: rgb(242, 242, 242);
}
.headers h1{
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 25px;
}
.navbar-one{
    display: flex;
    position: sticky;
    top: 65px;
    z-index: 2;
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding: 10px;
}
.navbar-one__list {
    border-bottom: solid transparent 1px;
    cursor: pointer;
    
}
.navbar-one__list:hover {
    opacity: 0.8;
    border-bottom: solid black 1px;
}
.navbar-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar-one-clone {
    border: 1px solid transparent;
    display: flex;
    overflow-x: auto;
    cursor: pointer;
}
.navbar-one-clone::-webkit-scrollbar {
    width: 0;
}
.navbar-one-clone .navbar-one__list-clone {
    min-width: 150px;
    line-height: 70px;
    text-align: center;
}
.navbar-one__list-clone:hover {
    text-decoration: underline;
    opacity: 0.7;
}
.navbar-one-clone-none {
    display: none;
}
.search-card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search {
    border: solid black 1px;
    height: 40px;
    width: 50vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.search__item {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}
.search input {
    border: none;
    width: 200px;
}
.search input:focus{
    outline: none;;
}
.search button {
    background-color: #34e0a1;
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.main-image-center {
    display: flex;
    justify-content: center;
}
.main-img {
    justify-content: center;
    align-items: end;
    margin-top: 30px;
    position: relative;
    width: 76vw;
}
.main-img__desc {
    position: absolute;
    left: 40px;
    top: 30%;
    color: white;
    padding: 5px;
}
.main-img__desc button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: none;
    margin-top: 10px;
}
.main-img__desc button:hover {
    background-color: black;
    color: white;
    transition: 1s;
}
.stunning-seasides {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.container {
    max-width: 1200px;
    width: 95%;
}
.container h1 {
    margin-bottom: 5px;
}
.container p {
    margin-bottom: 20px;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: black;
    border: none;
    outline: none;
    background: white;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.slider-wrapper .slide-button:hover {
    background: #444;
}
.slider-wrapper .slide-button#prev-slide {
    left: -20px;
}
.slider-wrapper .slide-button#next-slide {
    right: -20px;
}
.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    margin-bottom: px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.image-item:hover {
    opacity: 0.7;
}
.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}
.slider-wrapper .image-list .image-item {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.image-list-item {
    position: relative;
    width: 100%;
}
.image-list-item h2 {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: white;
}

.stunning-seasidess {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.containers {
    max-width: 1200px;
    width: 95%;
}
.containers h1 {
    margin-bottom: 5px;
}
.containers p {
    margin-bottom: 20px;
}
.slider-wrappers {
    position: relative;
}
.slider-wrappers .slide-buttons {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: black;
    border: none;
    outline: none;
    background: white;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrappers .slide-buttons:hover {
    background: #444;
}
.slider-wrappers .slide-buttons#prev-slides {
    left: -20px;
}
.slider-wrappers .slide-buttons#next-slides {
    right: -20px;
}
.slider-wrappers .image-lists {
    display: grid;
    gap: 18px;
    margin-bottom: 25px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(6, 1fr);
}
.image-items:hover {
    opacity: 0.7;
}
.slider-wrappers .image-lists::-webkit-scrollbar {
    display: none;
}
.slider-wrappers .image-lists .image-items {
    width: 370px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.image-lists__desc {
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
}
.image-lists__desc h5{
    margin-bottom: 15px;
}
.image-lists__desc h4{
    margin-bottom: 15px;
}
.image-lists__desc h5:hover{
    text-decoration: underline;
    opacity: 0.7;
}
.image-lists__desc h4:hover{
    text-decoration: underline;
    opacity: 0.7;
}

.stunning-seasides-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}
.container-1 {
    max-width: 1200px;
    width: 95%;
}
.container-1 h1 {
    margin-bottom: 10px;
}
.container-1 p {
    margin-bottom: 30px;
}
.slider-wrapper-1 {
    position: relative;
}
.slider-wrapper-1 .slide-button-1 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: black;
    border: none;
    outline: none;
    background: white;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.image-item-1:hover {
    opacity: 0.7;
}
.slider-wrapper-1 .slide-button-1:hover {
    background: #444;
}
.slider-wrapper-1 .slide-button-1#prev-slide-1 {
    left: -20px;
}
.slider-wrapper-1 .slide-button-1#next-slide-1 {
    right: -20px;
}
.slider-wrapper-1 .image-list-1 {
    display: grid;
    gap: 18px;
    margin-bottom: 25px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper-1 .image-list-1::-webkit-scrollbar {
    display: none;
}
.slider-wrapper-1 .image-list-1 .image-item-1 {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.image-list-1-pos {
    position: relative;
}
.image-list-1-pos p{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: solid white 1px;
    background-color: white;
    border-radius: 30px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 10px;
}
.image-list-1__desc p{
    margin-top: 5px;
    border: solid black 1px;
    width: 150px;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
}
.image-list-1__desc h4 {
    padding-top: 3px;
}

.stunning-seasides-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-color: rgb(242, 241, 236);
    margin-top: 50px;
}
.container-2 {
    max-width: 1200px;
    width: 95%;
}
.container-2 h1 {
    padding-bottom: 30px;
}
.slider-wrapper-2 {
    position: relative;
}
.slider-wrapper-2 .slide-button-2 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: black;
    border: none;
    outline: none;
    background: white;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.image-item-2:hover {
    opacity: 0.7;
}
.slider-wrapper-2 .slide-button-2:hover {
    background: #444;
}
.slider-wrapper-2 .slide-button-2#prev-slide-2 {
    left: -20px;
}
.slider-wrapper-2 .slide-button-2#next-slide-2 {
    right: -20px;
}
.slider-wrapper-2 .image-list-2 {
    display: grid;
    gap: 18px;
    margin-bottom: 25px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper-2 .image-list-2::-webkit-scrollbar {
    display: none;
}
.slider-wrapper-2 .image-list-2 .image-item-2 {
    width: 370px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.image-list-2-pos {
    position: relative;
}
.image-list-2-pos p{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    border: solid white 1px;
    background-color: white;
    border-radius: 30px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 10px;
}
.image-list-2__desc h5 {
    padding: 8px;
    text-align: center;
}

.travel-choice {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 247, 225);
}
.travel-choice-card {
    width: 76vw;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.travel-choice-card__desc {
    font-size: 18px;
}
.travel-choice-card__desc button {
    background-color: black;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 15px;
    margin-top: 8px;
}
.travel-choice-card__desc button:hover {
    opacity: 0.6;
}
.travel-choice-card__img img{
    width:40vw;
}

.about-us {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 242, 242);
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-us-card {
    display: flex;
    width: 100%;
    width: 76vw;
}
.about-us-card__one {
    display: flex;
    gap: 40px;
    width: 70%;
}

.about-us-1 {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 242, 242);
}
.about-us-card1 {
    display: flex;
    width: 76vw;
}
.about-us-card1__one {
    display: flex;
    gap: 20px;
    width: 70%;
    align-items: center;
}
.about-us-card1__one-1 {
    display: flex;
    flex-wrap: wrap;
}
.about-us-card1__one-1 h4 {
   margin-right: 18px;
   text-decoration: underline;
}
.about-us-card2__two select {
    width: 140px;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
    outline: none;
    margin: 5px;
}

.about-us-3 {
    display: flex;
    justify-content: center;
    background-color: rgb(242, 242, 242);
}
.about-us-card-3 {
    display: flex;
    width: 76vw;
}
.about-us-card3__one {
    width: 70%;
}
.about-us-card3__one {
    padding-bottom: 30px;
    font-size: 10px;
}
.about-us-card3__two {
    margin-left: 60px;
    margin-top: 20px;
}
.about-us-card3__two img {
    margin-right: 10px;
    width: 20px;
}
.about-us{
    font-size: 12px;
}
.about-us-1 {
    font-size: 12px;
}
.about_us_clone {
    background-color: rgb(242, 242, 242);
    padding: 30px;
}
.about_us_clone-list p {
    padding-top: 20px;
}
.about_us_clone-select select {
    margin-top: 20px;
    width: 48%;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
    outline: none;
}
.about_us_clone-icon {
    display: flex;
    justify-content: end;
}
.about_us_clone-icon img{
    width: 20px;
    margin-right: 25px;
    margin-top: 20px;
}
.about_us_clone-one {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.about_us_clone-two {
    font-size: 10px;
}
.about_us_clone-terms{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    text-decoration: underline;
    margin-bottom: 8px;
    margin-top: 4px;
}
.about_us_clone {
    display: none;
}



@media screen and (max-width:900px) {
    body {
        font-size: 14px;
    }
    .navbar-s2 {
        display: none;
    }
    .navbar-s3 {
        display: none;
    }
    .navbar-menu {
        display: block;
    }
    .navbar-one {
        display: none;
    }
    .navbar-one-clone-none {
        display: block;
    }
    .travel-choice-card {
        flex-direction: column;
    }
    .travel-choice-card__img img{
        width:76vw;
    }
    .travel-choice-card__desc img {
        display: none;
    }
    .about_us {
        display: none;
    }
    .about_us_clone {
        display: block;
    }
}



@media screen and (max-width:600px) {
    body {
        font-size: 10px;
    }
    .headers {
        display: none;
    }
    .search {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 70vw;
        padding: 10px;
    }
    .search__item {
        width: 60vw;
    }
    .search input {
        border-bottom: solid black 1px;
        padding: 10px;
        width: 100%;
    }
    .search button {
        width: 100%;
    }
    .main-img {
        width: 95vw;
    }
    .slider-wrapper button{
        display: none;
    }
    .slider-wrappers button{
        display: none;
    }
    .slider-wrapper-1 button{
        display: none;
    }
    .image-list-1__desc {
        font-size: 13px;
    }
    .slider-wrapper-2 button{
        display: none;
    }
    .image-list-2__desc h5 {
        font-size: 12px;
    }
    .travel-choice-card__desc {
        font-size: 12px;
    }
    
}